@import url('https://fonts.googleapis.com/css?family=Lato|Oswald:300,400,500,600,700|Rajdhani:400,500');
@font-face {
  font-family: 'socialico';
  src: url('fonts/Socialico.eot'); /* IE9 Compat Modes */
  src: url('fonts/Socialico.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Socialico.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Socialico.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Socialico.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Socialico.svg#Socialico') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Century Gothic';
  src: url('fonts/GOTHIC.eot'); /* IE9 Compat Modes */
  src: url('fonts/GOTHIC.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/GOTHIC.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/GOTHIC.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/GOTHIC.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/GOTHIC.svg#GOTHIC') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Century Gothic Bold';
  src: url('fonts/gothicb.eot'); /* IE9 Compat Modes */
  src: url('fonts/gothicb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/gothicb.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/gothicb.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/gothicb.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/gothicb.svg#gothicb') format('svg'); /* Legacy iOS */
}
.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: Arial}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1335px;margin: 0 auto;}
p, ul {margin: 0; padding: 0;}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }

/*button*/
.btn {font-size: 15px; font-weight: 400; color: #000; display: inline-block; padding: 10px 30px; background: #fff; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-size: 100px;font-weight: 100;color:#000;}
/*header*/
#header {padding: 15px 0; color: #fff; position: absolute; z-index: 1; left: 0; right: 0; margin: auto;}
#header .row {max-width: 88.2816605359958%; width: 88.2816605359958%; min-width: 1200px; display: flex; flex-wrap: wrap;}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0; display: flex; width: 605px; justify-content: space-between;}
#header nav ul li {display: inline-block;vertical-align: middle; font-family: 'Century Gothic'; font-size: 16px; font-weight: 400;}
#header nav ul li.active-menu a, #header nav ul li a:hover {text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;}
#header p {font-family: 'Century Gothic'; font-size: 13px; font-weight: 400; color: #fff; margin: 0 0 0 auto;}
#header p span {display: inline-block; margin: 0 0 0 3px; font-family: 'Century Gothic Bold'; font-size: 18px; font-weight: 700;}

/*banner*/
#banner {background: url("../images/common/banner-bg.jpg") center center no-repeat; background-size: cover; padding: 85px 0; position: relative;}
#banner img.mainLogo {margin: 35px 0 290px;}
#banner a.bttn {display: inline-block; background: #003880; padding: 20px 45px; font-family: 'Century Gothic'; font-size: 14px; font-weight: 400; color: #fff; letter-spacing: 3px;}
#banner h2 {font-family: 'Oswald', sans-serif; font-size: 63px; font-weight: 600; color: #fff; margin: 0 0 40px;}
#banner h2 span {display: block; font-family: 'Century Gothic Bold'; font-size: 30px; font-weight: 700; color: #fff;}


/*content*/
#content {background: #fff;padding: 80px 0}
#content .row {position: relative;}
#content .row > img {position: absolute; right: 0; top: 0;}
#content .leftCont {max-width: 54.68164794007491%; text-align: left;}
#content .leftCont > p {font-family: 'Century Gothic'; font-size: 28px; font-weight: 400; color: #666;}
#content .leftCont h2 {max-width: 530px; font-family: 'Oswald', sans-serif; font-size: 65px; font-weight: 600; color: #00387F; letter-spacing: -3px; line-height: 1.2;}
#content .leftCont .desc p {font-family: "Century Gothic"; font-size: 15px; font-weight: 400; color: #333333; margin: 30px 0 0; letter-spacing: 0.3px; line-height: 1.8;}
#content .image-Cont {text-align: left; position: relative; margin: 85px 0 0; z-index: 999 !important;}
#content .image-Cont img {margin: 0 20px 0 0; width: 33.03370786516854%;}

/*services*/
#services {background: linear-gradient(to bottom, #FFFFFF 60%, #002278 200%); padding: 75px 0 120px;}
#services h2 {font-family: 'Oswald', sans-serif; font-size: 65px; font-weight: 600; color: #003880;margin: 0 0 40px; text-align: left;}
#services .img-Cont {display: flex; justify-content: space-between;}
#services .img-Cont img {display: block; margin: 10px 0 0; width: 100%;}
#services .img-Cont .cols {display: inline-flex; flex-flow: column; width: 32.659176029962545%;}
#services .img-Cont .imgph {position: relative; width: 100%;}
#services .img-Cont .imgph p {text-align: left; position: absolute; color: rgba(242,242,247,0.68);; font-family: 'Oswald', sans-serif;}
/*col-1*/
#services .img-Cont .col-1 p {top: 10px; left: 5px; line-height: 1;}
#services .img-Cont .col-1 .imgph:first-of-type p {font-size: 79px; font-weight: 300;}
#services .img-Cont .col-1 .imgph:last-of-type p {font-size: 77px; font-weight: 600;}
/*col-2*/
#services .img-Cont .col-2 p {bottom: 25px; line-height: 1;}
#services .img-Cont .col-2 .imgph:first-of-type p {right: 5px; font-size: 66px; font-weight: 600;}
#services .img-Cont .col-2 .imgph:last-of-type p {font-size: 79px; left: 5px; font-weight: 300;}
/*col-3*/
#services .img-Cont .col-3 p {line-height: 1;}
#services .img-Cont .col-3 .imgph:first-of-type p {top: 10px; left: 5px; font-size: 77px; font-weight: 700;}
#services .img-Cont .col-3 .imgph:last-of-type p {bottom: 25px; right: 5px; font-size: 77px; font-weight: 400;}

/*info*/
#info {background: #002278 url("../images/common/info-bg.png") center right no-repeat; color: #fff; text-align: left; padding: 125px 0 20px;}
#info .info-Cont {max-width: 725px;}
#info .info-Cont h2 {margin: 0 0 30px; font-family: 'Oswald', sans-serif; font-size: 65px; font-weight: 600;}
#info .info-Cont .list {display: flex; justify-content: space-between;}
#info .info-Cont .list ul {font-family: 'Century Gothic'; font-size: 20px; font-weight: 400; padding: 0 0 0 20px; line-height: 2.25;}
#info .hadvisor{    display: block;max-width: 400px;width: 100%;  margin-top: 80px;}

/*contact*/
#contact {background: #1A1A1A url("../images/common/contact-bg.png") center center no-repeat; background-size: cover; padding: 70px 0;}
#contact h2 {font-family: 'Oswald', sans-serif; font-size: 65px; font-weight: 600; color: #fff;}
#contact .ctc-form {max-width: 1200px; color: #fff; text-align: left;}
#contact .ctc-form .top-row {display: flex; justify-content: space-between;}
#contact .ctc-form .top-row label {width: calc(98%/3);}
#contact .ctc-form textarea {resize: none;}
#contact .ctc-form input[type="text"]::placeholder, #contact .ctc-form textarea::placeholder {color: #111;}
#contact .ctc-form input[type="text"], #contact .ctc-form textarea {background: #F3F3E9; border-radius: 0; font-family: 'Rajdhani', sans-serif; font-size: 20px; font-weight: 500; color: #111 !important;}
#contact .ctc-form .bot-row {display: flex; justify-content: space-between;}
#contact .ctc-form .bot-row .checkboxes {font-family: 'Rajdhani', sans-serif; font-size: 18px; font-weight: 400; color: #fff;}
#contact .ctc-form button {background: unset; font-family: 'Century Gothic'; font-size: 14px; font-weight: 400; color: #fff; border: 1px solid #FFF; letter-spacing: 1px; padding: 20px 60px;}

/*footer*/
#footer {background: #fff url("../images/common/footer-bg.png") center bottom no-repeat; padding: 45px 0; color: #191919;}
#footer .mainLogo {margin: 0 0 70px;}
#footer .row > a {display: inline-block;}
#footer p {margin: 0 0 20px;}
#footer p.socialMed a {font-family: 'socialico'; font-size: 42px;}
#footer .contactInfo p {font-family: 'Lato', sans-serif; font-size: 14px; font-weight: 400; color: #002278;}
#footer .contactInfo p.contactus span {display: block; font-family: 'Century Gothic'; font-size: 26px; font-weight: 400; color: #191919; margin: 10px 0 0;}
#footer .contactInfo p.emailus span{display: block; font-family: 'Century Gothic'; font-size: 16px; font-weight: 400; color: #191919; margin: 10px 0 0;}
#footer ul {display: flex; justify-content: space-between; width: 510px; margin: 35px auto 20px; list-style-type: none;}
#footer ul li {font-family: 'Century Gothic'; font-size: 14px; font-weight: 400; color: #191919;}
#footer .silver, #footer .copy {font-family: 'Century Gothic'; font-size: 13px; font-weight: 400; color: #191919; letter-spacing: 2px;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0;font-family: "Century Gothic"; font-size: 18px;}
.inner #content h1 {font-family: 'Oswald', sans-serif;font-size: 65px;font-weight: 600;color: #00387F;letter-spacing: -3px;line-height: 1.2;}
.inner #content .about-page-image1 {position: relative;max-width: 1280px;width: 55%;margin: 0 auto;}
.inner #content .about-paragraph{text-align: left;margin: 10px auto;line-height: 30px}
.inner #content .services-paragraph{text-align: left;margin: 10px auto;line-height: 30px}
.inner #content .serviceAreaHeader{text-align: left;}
.inner #content .serviceArea{text-align: left; list-style-type: none;}
.inner #content .serviceArea li{padding-left: 30px; line-height: 30px}
.inner #content .service-images{width: 100%;margin: 30px auto;}
.inner #content .service-images img{position: relative;clip-path: circle(50% at 50% 50%);border: 10px solid #00387F; border-radius: 250px;display: inline-block;vertical-align: top;width: 30%;margin: 10px auto;}
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}

@media screen and (max-width: 1345px){
  .row {max-width: 95%;}
  #content .leftCont {max-width: 50.681648%;}
  #content .image-Cont {margin: 65px 0 0;}
  #services .img-Cont .col-1 .imgph:first-of-type p {font-size: 49px;}
  #services .img-Cont .col-2 .imgph:first-of-type p {font-size: 56px;}
  #services .img-Cont .col-3 .imgph:first-of-type p {font-size: 47px;}
  #services .img-Cont .col-1 .imgph:last-of-type p {font-size: 47px;}
  #services .img-Cont .col-2 .imgph:last-of-type p {font-size: 49px;}
  #services .img-Cont .col-3 .imgph:last-of-type p {font-size: 47px;}
  .inner #content .service-images img {width: 35%;}

}

@media screen and (max-width: 1024px){
	body {min-width: 320px;}
	.row {width: 95%; margin: 0 auto; flex-flow: column;}
  #header .row {min-width: unset;}
  #header p {order: 1; margin: 0 auto;}
  #header nav {order: 2;}
  #header nav ul {margin: 0 auto;}
  #banner img.mainLogo {width: 87.125%;}
  #content .row > img {width: 45.56701030927835%;}
  #content .leftCont h2 {font-size: 56px;}
  #info .info-Cont {max-width: 90%; margin: 0 auto;}
  #info .info-Cont h2 {text-align: center !important;}
  .inner #content .service-images img {width: 50%;}
}

@media screen and (max-width: 960px) {
  #content .row > img {display: block; width: 85%; position: unset; margin: 0 auto;}
  #content .image-Cont {max-width: 85%; margin: 10px auto;}
  #content .image-Cont img {width: 100%;}
  #content .leftCont {max-width: 85%; margin: 0 auto; text-align: center;}
  #content .leftCont .desc p {font-size: 20px; text-align: justify;}
  #content .leftCont h2 {margin: 0 auto;}
  #services h2 {text-align: center;}
  #services .img-Cont {flex-flow: wrap;}
  #services .img-Cont .cols {width: 49.5%;}
  #services .img-Cont .col-1 .imgph:first-of-type p {font-size: 52px;}
  #services .img-Cont .col-2 .imgph:first-of-type p {font-size: 39px;}
  #services .img-Cont .col-3 .imgph:first-of-type p {font-size: 50px;}
  #services .img-Cont .col-1 .imgph:last-of-type p {font-size: 50px;}
  #services .img-Cont .col-2 .imgph:last-of-type p {font-size: 52px;}
  #services .img-Cont .col-3 .imgph:last-of-type p {font-size: 50px;}
  #services .img-Cont .col-3 {flex-flow: row; justify-content: space-between; width: 100%}
  #services .img-Cont .col-3 .imgph:first-of-type {width: 40.7%}
  #services .img-Cont .col-3 .imgph:last-of-type {width: 58.3%}
  .inner #content .service-images img {width: 50%;}
}

@media screen and (max-width: 800px){
	#header {padding: 15px 0; position: fixed; z-index: 99999 !important;}
  #header nav {display:block; height: auto;  z-index: 999; width: 100%;}
  #header nav ul { width: 100%; display: none; height: auto; border-radius: 10px; border: 1px solid #fff; background: rgba(0,0,0,0.8);}
  #header nav ul li { width: 100%;position: relative; }
  #header nav ul li a {display: block;float:none;padding: 10px 0;}
  #header nav a { text-align: center; width: 100%;}
	#header nav a#pull {display: block; background: rgba(0,0,0,0.5); color: #000; height: 30px; padding: 10px 0; width: 50px; position: relative; border-radius: 100%; border: 1px solid #fff;}
	#header nav a#pull:after {content: ""; background: url(../images/nav-icon.png) no-repeat; width: 20px; height: 20px; position: absolute; left: 15px; top: 15px;}
	#header .row {max-width: 100%;}
  #header p {padding: 10px; background: rgba(0, 0, 0, 0.5); border-radius: 15px; border: 1px solid #fff;}
  #info {background-size: cover;}
  #info .info-Cont .list {display: unset;}
  #info .info-Cont .list ul {max-width: 285px; margin: 0 auto;}
  #contact .ctc-form .top-row {display: unset;}
  #contact .ctc-form .bot-row {display: unset; text-align: center;}
  #footer .mainLogo {width: 91.71052631578948%;}
  .inner #content .service-images img {width: 50%;}
}

@media screen and (max-width: 610px) {
  #services .img-Cont .cols {width: 100%;}
  #services .img-Cont .col-1 .imgph:first-of-type p {font-size: 69px;}
  #services .img-Cont .col-1 .imgph:last-of-type p {font-size: 67px;}
  #services .img-Cont .col-2 .imgph:first-of-type p {font-size: 56px;}
  #services .img-Cont .col-2 .imgph:last-of-type p {font-size: 69px;}
  #services .img-Cont .col-3 .imgph:first-of-type p {font-size: 67px;}
  #services .img-Cont .col-3 .imgph:last-of-type p {font-size: 67px;}
  #services .img-Cont .col-3 {flex-flow: column;}
  #services .img-Cont .col-3 .imgph {width: 100% !important;}
  #footer ul {width: 92.72727272727272%; flex-flow: wrap;}
  #footer ul li {width: calc(95%/3); margin: 15px 0 0;}
  .inner #content .service-images img {width: 82%;}
}

@media screen and (max-width: 390px) {
  #banner h2 {font-size: 52px;}
  #banner h2 span {font-size: 26px;}
  #banner img.mainLogo {margin: 35px 0 170px;}
  #services .img-Cont .cols .imgph p {text-align: center; margin: auto; left: 0; right: 0;}
  #services .img-Cont .col-1 .imgph:first-of-type p {font-size: 54px;}
  #services .img-Cont .col-1 .imgph:last-of-type p {font-size: 52px;}
  #services .img-Cont .col-2 .imgph:first-of-type p {font-size: 41px;}
  #services .img-Cont .col-2 .imgph:last-of-type p {font-size: 54px;}
  #services .img-Cont .col-3 .imgph:first-of-type p {font-size: 52px;}
  #services .img-Cont .col-3 .imgph:last-of-type p {font-size: 52px;}
  .inner #content .service-images img {width: 90%;}
}
